<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <link rel="stylesheet" href="./styles/about.css" />
  </head>
  <body>
    <%- include('mainHeader'); -%>
    <div class="abouthero">
      <div class="herocontent">
      <h1 class="heading">About Us</h1>
      <h2 class="heading" style="padding-top:10px">A Digital Platform that will help you maintain your mental health</h2>
      <a href="/therapistRegister" ><button class="btn" style="margin-top:10px">THERAPIST</button></a>
      <a href="/register" ><button class="btn" style="margin-top:10px">PATIENT</button></a>
    </div>
    </div>
    <div class="aboutcontent">
      <p style="font-size: 30px">
        Founded by developers for a hackathon. Our platform help people get
        matched with the right therapist.  Our mission is to help as
        many people as possible to get access to their mental health.
      </p>
     
    </div>
    <div class="mem-container">
        <h2>OUR TEAM</h2>
    <div class="member">
      <div class="card" style="width: 18rem">
        <img
          src="../images/faith.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Faith Magras</h5>
          <p class="card-text">
            DEVELOPER
          </p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../images/Uma_pic.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Umapreethi Santhanakrishnan</h5>
          <p class="card-text">
            DEVELOPER
          </p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../images/ruchi.PNG"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Ruchibrata Kundu</h5>
          <p class="card-text">
            DEVELOPER
          </p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../images/nicholle.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Nichole Ezell</h5>
          <p class="card-text">
           DEVELOPER
          </p>
          
        </div>
      </div>
    </div>
</div>
  </body>
</html>
