<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>footer</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="./styles/style.css">
	<link rel="stylesheet" href="./styles/footer.css">
</head>

<body>
	<!-- <div class="footer container" style="background-color: #F3E0F4;">
		<div class="row">
			<div class="logo-container col">
				<a href="/"><img src="./images/logo.png" alt="logo"></a>
			</div>

			<div class="links-container col">
				<a href="/about">About Us</a>
				<span class="icon-container">
					<a class="nav-link" href="#"><img class="icon" src="../images/facebook.png" alt="facebook"></a>
				</span>
				<span class="icon-container">
					<a class="nav-link" href="#"><img class="icon" src="../images/linkedin.png" alt="linkedin"></a>
				</span>
				<span class="icon-container">
					<a class="nav-link" href="#"><img class="icon" src="../images/pinterest.png" alt="pinterest"></a>
				</span>
				<span class="icon-container">
					<a class="nav-link" href="#"><img class="icon" src="../images/twitter.png" alt="twitter"></a>
				</span>
			</div>
		</div>
	</div> -->


	<footer class="text-center">
		<!-- Grid container -->

		<section>
			<a href="#"><img class="icon" src="../images/facebook.png" alt="facebook"></a>
			<a href="#"><img class="icon" src="../images/linkedin.png" alt="linkedin"></a>
			<a href="#"><img class="icon" src="../images/pinterest.png" alt="pinterest"></a>
			<a href="#"><img class="icon" src="../images/twitter.png" alt="twitter"></a>
		</section>
		<div class="bottom-container">
			<div class="bottom-div">
				<a href="/"><img src="./images/logo.png" alt="logo"></a>
				<!-- <a class="about-us" href="/">About Us</a> -->
			</div>
		</div>
	</footer>






	<!-- 
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3E0F4;">
		<a class="navbar-brand" href="/"><img src="./images/logo.png" alt="logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="icon" src="../images/facebook.png" alt="facebook"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="icon" src="../images/linkedin.png" alt="linkedin"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="icon" src="../images/pinterest.png" alt="pinterest"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="icon" src="../images/twitter.png" alt="twitter"></a>
				</li>
			</ul>
		</div>
	</nav> -->

</body>

</html>