<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>footer</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="./styles/style.css">
	<link rel="stylesheet" href="./styles/footer.css">
</head>

<body>
	<footer class="text-center">
		<div class="footer">
			<section>
				<a href="#"><img class="icon" src="../images/facebook.png" alt="facebook"></a>
				<a href="#"><img class="icon" src="../images/linkedin.png" alt="linkedin"></a>
				<a href="#"><img class="icon" src="../images/pinterest.png" alt="pinterest"></a>
				<a href="#"><img class="icon" src="../images/twitter.png" alt="twitter"></a>
			</section>
			<div class="bottom-container">
				<div class="bottom-div">
					<a href="/"><img src="./images/logo.png" alt="logo"></a>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>