<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <title>Mental Mentor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
</head>

<body>


    <%- include('mainHeader'); -%>

        <!--Main Content-->

        <div class="imgone">
            <h1 class="info-h1" style="font-size:4vw;">Mental Mentor</h1>
            <p class="info-p" style="font-size:2vw;">
                You are not alone <br> 1 in 5 adults experience some type of <br> mental illness, but less than half get <br> help. We'll connect you with a <br> therapist so you can start receiving the <br> treatment you deserve.
            </p>
            <!-- <img class="imgone" src="./images/My Post (31).jpg" alt="TherapistPicOne" /> -->
            <div class="container">
                <a href="/register"><button class="btn">Start Healing</button></a>
            </div>

        </div>


        <img src="images/TherapistTwo.jpg" alt="TherapistPicTwo" class="responsive" />

        <div class="responsive-intro">

            <h1 class="headerOne" style="font-size:2vw;">How Does it Work</h1>
            <h3 class="headerThree" style="font-size:1vw;">1. Take a brief questionnaire</h3>
            <h3 class="headerThree" style="font-size:1vw;">
                2. Review your matches with local therapist selected for you
            </h3>
            <h3 class="headerThree" style="font-size:1vw;">
                3. Make an appointment for an in-person session
            </h3>
            <a href="/register"><button class="btn">Start Healing</button></a>
        </div>

</body>

</html>