<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <title>Mental Mentor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
</head>

<body>


    <%- include('mainHeader'); -%>

        <!--Main Content-->

        <div class="abouthero">


            <div class="herocontent">
                <h1 class="heading">Mental Mentor</h1>
                <p style="font-size: 30px;">
                    You are not alone. <br> 1 in 5 adults experience some type of
                    <br> mental illness, but less than half get help. We'll connect you with a
                    <br> therapist so you can start receiving the treatment you deserve.
                    <a href="/register"><button class="btn">START HEALING</button></a>
                </p>

            </div>
        </div>

        <div class="content">
            <p style="font-size: 40px">
                "Life get better when <br> health becomes your first<br> priority" -Maxime Lagace
            </p>


        </div>

        <div class="abouthero2">


            <div class="herocontent2">
                <h1 class="heading2">How It Works</h1>
                <p style="font-size: 30px">
                    Take a brief questionnaire <br> Get matched to a therapist meeting your needs<br> Contact your therapist to begin treatment
                </p>
                <a href="/register"><button class="btn">START HEALING</button></a>
            </div>
        </div>

</body>

</html>