<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Mental Mentor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
</head>

<body>


    <%- include('navbar'); -%>

        <!--Main Content-->

        <div class="abouthero">


            <div class="herocontent">
                <h1 class="heading">Mental Mentor</h1>
                <p style="font-size: 30px;">
                    You are not alone. <br> 1 in 5 adults experience some type of
                    <br> mental illness, but less than half get help. We'll connect you with a
                    <br> therapist so you can start receiving the treatment you deserve.
                    <a href="/register"><button class="btn">START HEALING</button></a>
                </p>

            </div>
        </div>

        <div class="content">
            <p style="font-size: 40px">
                "Life get better when <br> health becomes your first<br> priority" -Maxime Lagace
            </p>


        </div>

        <div class="content2">
            <div class="image">
                <img src="../images/My Post (41).jpg" alt="therapist" width="300" height="500">
            </div>
            <div class="how">
                <h2 style="font-size: 30px">How It Works</h2>


                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Register</div>
                            Create your account with us
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Receive notification</div>
                            Matched patients with your category will be sent
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Connect</div>
                            Connect with them through our platform
                        </div>

                    </li>
                </ol>
                <a href="/therapistRegister"><button class="button" style="margin-left:10px; margin-top:10px">REGISTER</button></a>
            </div>
        </div>

</body>

</html>