<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <title>Mental Mentor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
</head>

<body>


    <%- include('mainHeader'); -%>

        <!--Main Content-->

        <div class="container">
            <img class="imgone" src="./images/My Post (31).jpg" alt="TherapistPicOne" />
            <a href="/register"><button class="btn">Start Healing</button></a>


        </div>

        <img class="imgtwo" src="images/TherapistTwo.jpg" alt="TherapistPicTwo" />
        <div class="intro">
            <h1 class="headerOne">How Does it Work</h1>
            <h3 class="headerThree">1. Take a brief questionnaire</h3>
            <h3 class="headerThree">
                2. Review your matches with local therapist selected for you
            </h3>
            <h3 class="headerThree">
                3. Make an appointment for an in-person session
            </h3>
            <a href="/register"><button class="btn-register">Start Healing</button></a>
        </div>

</body>

</html>