<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- responsive meta tag to tell the browser to adjust the page automatic according to screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental-Mentor Login Page></title>
    <!-- same styles as register page -->
    <link rel="stylesheet" href="../styles/register.css" />
    <!-- to include bootstrap styling -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('navbar'); -%>
    <div class="body">
      <form id="login" method="post">
        <div class="container">
          <h1>Patient Login</h1>

          <label for="email"><b>Email</b></label>
          <input
            type="text"
            placeholder="Enter Email"
            name="username"
            id="username"
            required
          />

          <label for="password"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            id="password"
            required
          />

          <button type="submit" class="loginbtn">Log In</button>
        </div>

        <div class="container register">
          <p style="text-align: center">
            Don't have an account? <a href="/register">Register</a>
          </p>
        </div>
      </form>
    </div>
    <%- include('footer'); -%>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
