
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul>
        <li>
          <a href="#">
            <h1 class="name">Mental Mentor</h1>
          </a>
        </li>

        <button class="start"><a href="/questionnaire">Get Started</a></button>
      </ul>
    </nav>
