<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <link rel="stylesheet" href="./styles/submission.css" />
</head>
<body>
    <%- include('navbar'); -%>
    <div class="body">
     <div class="thanks-container" style="text-align:center">
        <h2>Thanks for registering with Us!</h2>
        <h2>Please Login here</h2>
        <a href="/therapistLogin"><button  class="login">LOGIN</button></a>
     </div>
    </div>
    <%- include('footer'); -%>
</body>
</html>