<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <link rel="stylesheet" href="./styles/about.css" />
  </head>
  <body>
    <%- include('mainHeader'); -%>
    <div class="therapisthero">
      <div class="herocontent">
        <h1 class="heading">Therapist</h1>
        <h2 class="heading" style="padding-top:10px">Create your digital platform to connect with your patients</h2>
        <a href="/therapistRegister" ><button class="btn" style="margin-top:10px">REGISTER</button></a>
        <a href="/therapistLogin" ><button class="btn" style="margin-top:10px">LOGIN</button></a>
      </div>
    </div>
    <div class="content">
      <div class="image">
          <img src="../images/therapist.jpg" alt="therapist" width="300" height="500">
      </div>
      <div class="how">
        <h2 style="font-size: 40px">How It Works</h2>
        <p style="font-size: 30px">
          <span><img src="../images/check.png" width="20px" height="20px" style="padding-right:10px"></span>Create your account<br>
          <span><img src="../images/check.png" width="20px" height="20px" style="padding-right:10px"></span>Matched patients with your category will be sent<br>
          <span><img src="../images/check.png" width="20px" height="20px" style="padding-right:10px"></span>Connect with them through our platform<br>
        </p>
        <a href="/therapistRegister"><button class="btn">REGISTER</button></a>
      </div>
    </div>
    <div class="mem-container">
        <h2>OUR THERAPISTS</h2>
    <div class="member">
      <div class="card" style="width: 18rem">
        <img
          src="../images/therapist-1.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Therapist one</h5>
          <p class="card-text">
           Mental Health
          </p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../images/therapist-2.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Therapist Two</h5>
          <p class="card-text">
            Psychiatry
          </p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../images/therapist-3.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Therapist Two</h5>
          <p class="card-text">
            DEVELOPER
          </p>
         
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../images/therapist-4.jpg"
          class="card-img-top"
          alt="..."
          width="200px"
          height="200px"
        />
        <div class="card-body">
          <h5 class="card-title">Nichole Ezell</h5>
          <p class="card-text">
           DEVELOPER
          </p>
          
        </div>
      </div>
    </div>
</div>
  </body>
</html>
