 /* This is the navbar */
 
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #F3E0F4;
 }
 
 li {
     float: left;
 }
 
 li a {
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 /* Change the link color on hover */
 
 li a:hover {
     background-color: #72DDF7;
 }
 /* This is the color above the navbar */
 
 .jumbotron {
     margin: 0;
     padding: 25px;
     background-image: linear-gradient(to right, #F3E0F4, #F3E0F4, #FDF9FD);
 }
 /* This is the text */
 
 .mental {
     color: #72DDF7;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-shadow: 1px 1px black;
 }
 
 .slogan {
     font-family: Arial, Helvetica, sans-serif;
     font-size: small;
     text-shadow: 1px 1px #72DDF7;
 }