/* #72DDF7 - blue
#F3E0F4 - pink
#FDF9FD - light pink */

/* add a background Image*/
body {
  background-image: url("../images/TherapistOne.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-color: #fdf9fd;
}

/* resizing the image to fit the window */

form {
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  border: 3px solid black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: transparent;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f3e0f4;
  border: 1px solid;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
button {
  background-color: #72ddf7;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin,
.register {
  background-color: #f1f1f1;
  text-align: center;
}

/*  */
@media screen and (max-width: 425px) {
  form {
    width: 100%;
  }
}
