body {
    background-color: #FDF9FD;
    font-family: 'Nunito', sans-serif;
    background-color: #FDF9FD;
}

.intro {
    border: 3px solid #72DDF7;
    width: 50em;
    margin-left: 35em;
    margin-top: 10em;
}

.questionnaire {
    background-color: #72DDF7;
    margin-left: 54em;
}

.headerOne {
    display: flex;
    justify-content: center;
}

.headerThree {
    display: flex;
    justify-content: center;
}