body {
    background-color: #FDF9FD;
    font-family: 'Nunito', sans-serif;
    background-color: #FDF9FD;
}


/* Style for home page  */

.intro {
    border: 3px solid #72DDF7;
    width: 35em;
    height: 20em;
    margin-top: 16em;
    margin-right: 10em;
    float: right;
}

.questionnaire {
    background-color: #72DDF7;
    margin-left: 30em;
}


/* images on home page */

.imgone {
    width: 2005px;
    height: 1010px;
    margin-top: 2em;
}

.imgtwo {
    width: 1000px;
    margin-top: 5em;
    margin-left: 5em;
    float: left;
}


/* Style the button and place it in the middle of the container/image */

.container .btn {
    position: absolute;
    top: 80%;
    left: 7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #72DDF7;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: #F3E0F4;
}