.body {
    background-image: url(../images/TherapistOne.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}



.thanks-container {
    background-color:#F3E0F4;
    max-width: 600px;
    border-radius: 10px;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    
}

.login {
    padding: 10px 25px;
    border-radius: 10px;
    border:none;
    background-color: #72DDF7;
    cursor: pointer;
}

.login:hover {
    border: 2px solid #72DDF7;
    background-color:  #F3E0F4;
}